* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

figure {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

.colorproject {
    background-color: beige;
}

/***************************************SPLASH*****************************************************/
#forside {
    /*    width: 100vw;*/
    height: 100vh;
    background-image: url(images/splashbillede.jpg);
    background-size: cover;
    background-position: 16% 5%;
    max-width: none;
}

/*************************************OM SEKTION***************************************************/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#om .txt {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 2em;
}

#om .picture {
    flex-grow: 1;
    flex-basis: 500px;
}

/***********************************PROJEKTER SEKTION*********************************************/

#projekter .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#projekter .project_right {
    flex-grow: 1;
    flex-basis: 500px;
}

#projekter .txt {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 2em;
}
