* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

img {
    width: 100%;

    display: block;
}

figure {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
}

p {
    font-size: 1rem;
    font-family: 'Chivo', sans-serif;
}

.colorproject {
    background-color: beige;
}

.colora {
    background-color: blue;
}

/*********************************************MENU************************************************/
header {
    position: fixed;
    width: 100%;
}

header nav {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}

header nav a {
    font-size: 1rem;
    font-family: 'Chivo', sans-serif;
    text-decoration: none;
    color: white;

    padding: 0.5rem;
}

header nav a:link {
    color: white;
}

header nav a:visited {
    color: white;
}

header nav a:hover {
    color: white;
}

header nav a:last-child {
    border-right: none;
}

/***************************************SPLASH*****************************************************/
#forside {
    /*    width: 100vw;*/
    height: 100vh;
    background-image: url(images/splashbillede.jpg);
    background-size: cover;
    background-position: 16% 5%;
    max-width: none;
}

/*************************************OM SEKTION***************************************************/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#om .txt {
    flex-grow: 2;
    flex-basis: 600px;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 4rem;
}

#om .picture {
    flex-grow: 1;
    flex-basis: 500px;
}

/***********************************PROJEKTER SEKTION*********************************************/

#projekter .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#projekter .heading {
    flex-grow: 2;
    flex-basis: 1200px;
}

#projekter .project_right {
    flex-grow: 1;
    flex-basis: 500px;

    margin-bottom: 8rem;
}

#projekter .bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#projekter .txt {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 2rem;
}

#projekter .project_left {
    flex-grow: 1;
    flex-basis: 500px;

    margin-bottom: 8rem;

}
