* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

img {
    width: 100%;

    display: block;
}

figure {
    margin: 0;
    padding: 0;
}

/***************************************TEXT****************************************************/
h1 {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

#projekter h1 {
    margin-top: 7rem;
    margin-bottom: 4rem;
}

h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 0;
}

p {
    font-size: 1rem;
    font-family: 'Chivo', sans-serif;
    line-height: 1.5rem;
    color: #df570a;
}

.heading {
    margin-left: 1rem;
}

/********************************************COLORS***********************************************/

.colorproject {
    background-image: url(images/oranges.svg);
    background-size: cover;
}

.color {
    background-color: bisque;
}

.colora {
    background-color: white;
}

/*************************************ANIMATIONS**************************************************/
.fade_in {
    opacity: 0;
    transition: opacity 350ms ease-in;
}

.fade_in.appear {
    opacity: 1;
}

/*********************************************MENU************************************************/
header {
    position: fixed;
    width: 100%;

    --text: #ffffff;
    --hover: #f9d68f;
}

header nav {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}

header nav a {
    font-size: 1rem;
    font-family: 'Chivo', sans-serif;
    text-decoration: none;
    color: var(--text);
    padding: 0.5rem;
}

header nav a:visited {
    color: var(--text);
}

header nav a:hover {
    color: var(--hover);
}

label {
    margin: 1rem 1.5rem 0 0;
    font-size: 26px;
    color: black;
    display: none;
}

#toggle {
    display: none;
}

.nav_scrolled {
    --text: #ee8518;
    background-color: white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

/***************************************SPLASH*****************************************************/
#forside {
    /*    width: 100vw;*/
    height: 100vh;
    background-image: url(images/orangesplash.png);
    background-size: cover;
    background-position: 10% 5%;
    max-width: none;
}

#forside .splash_txt {
    font-size: 4rem;
    font-family: 'Chivo', sans-serif;
    line-height: 1.5rem;
    color: white;

    position: absolute;
    top: 38%;
    left: 82%;
    transform: translate(-50%, -50%);
}

#splash_for_responsive {
    /*    width: 100vw;*/
    height: 100vh;
    background-image: url(images/splashbillede.jpg);
    background-size: cover;
    background-position: 16% 5%;
    max-width: none;
}

#breakpoint .box {
    background-color: bisque;
    height: 200px;
}

#breakpoint .txt {
    font-size: 2rem;
    font-family: 'Chivo', sans-serif;
    line-height: 1.5rem;
    color: white;
    position: absolute;
    top: 113%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*************************************OM SEKTION***************************************************/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#om .box {
    background-color: white;
    flex-grow: 2;
    flex-basis: 600px;
    padding: 0 2rem 2rem 2rem;
    height: 100%;
    border-radius: 20px;

    margin: 5rem;
}

#om .picture {
    flex-grow: 1;
    flex-basis: 500px;
}

#hvordan_arbejder_jeg .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#hvordan_arbejder_jeg .box {
    background-color: white;
    flex-grow: 2;
    flex-basis: 600px;
    padding: 0 2rem 2rem 2rem;
    height: 100%;
    border-radius: 20px;

    margin: 5rem;
}

#hvordan_arbejder_jeg .picture {
    flex-grow: 1;
    flex-basis: 500px;
}

/***********************************PROJEKTER SEKTION*********************************************/

#projekter .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 11rem;
}

#projekter .heading {
    flex-grow: 2;
    flex-basis: 1200px;
}

#projekter .project_right {
    flex-grow: 1;
    flex-basis: 500px;
}

#projekter .bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    margin-bottom: 11rem;
}

#projekter .txt {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 2.5rem;

    margin-bottom: 11rem;
}

#projekter .project_left {
    flex-grow: 1;
    flex-basis: 500px;

    margin-right: 3.5rem;
}

#projekter .bottom_under {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-top: 11rem;
    margin-bottom: 11rem;
}

.button {
    background-color: transparent;
    border: none;
    color: #6b710f;
    padding: 15px 32px;
    font-family: 'Chivo', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

    margin-top: 2rem;

    border: 2px solid #6b710f;
    border-radius: 16px;
}

.button:hover {
    background-color: #6b710f;
    color: white;
}

/************************************MEDIA QUERIES************************************/


@media only screen and (max-width: 785px) {
    #projekter .txt {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
}

@media only screen and (max-width: 950px) {

    label {
        display: block;
        cursor: pointer;
    }

    nav a {
        text-align: center;
        width: 100%;

        display: none;
    }

    header {
        display: block;
        margin: 0;

        text-align: end;
    }

    #toggle:checked + nav a {
        display: block;
    }

}

@media only screen and (max-width: 1169px) {

    #projekter .project_left {
        flex-basis: 400px;
    }

    #projekter .txt {
        flex-basis: 200px;
    }

    #projekter .project_right {
        flex-basis: 400px;
    }

}

@media only screen and (max-width: 1169px) {

    #projekter .sectionwrapper {
        margin-bottom: 5rem;
    }

    #projekter .bottom_under {
        margin-bottom: 5rem;
    }

    #projekter .bottom {
        margin-bottom: 5rem;
    }

    #projekter .txt {
        margin-bottom: 5rem;
    }

    #projekter .project_left {
        margin-right: 2rem;
        margin-left: 2rem;
    }
}
